@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
body{
    font-family: orbitron;
    color: white;
    background: #313030;
    padding-top: 100px;
}
img{
    width: 80px;
    height: 80px;
}
h1{
    font-size: 80px;
}
::selection {
    background: turquoise;
}
button{
    outline: none;
    background: orange;
    width: 20%;
    height: 10%;
    font-family: 25px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    font-family: orbitron;
}
canvas{
    border-style: ridge;
    border-width: 10px;
    background: white;
    opacity: 50%;
}